 {{>menu}}
 <section id="articles_header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card bg-warning text-monospace">
            <div class="card-header">
               
              <a class="display-3 text-decoration-none text-white" href="#">ARTIGOS</a>

             

            </div>

            <div class="card-body">
              <p class="pt-4 text-primary">Descubra novos mundos e locais para viajar</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 bg-info">
          <form>

            <div class="form-group py-1 text-white">
              <label for="formControlSelect" id="formSelect" class="font-weight-bold">Pesquisar por categoria</label>
              <select class="form-control">
                <option>Dicas</option>
                <option>Asia</option>
                <option>America</option>
                <option>Europa</option>
              </select>

            </div>

          </form>
        </div>



      </div>
    </div>
  </section>
  
  
  

  <!--Seta as margens superior e inferior-->
  <hr class="my-4">


  <!-- começa da linha-->

  <div class="row">
    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
        <div class="card-footer">
          <div>
            <h6> Anonymous | December 25, 2022</h6>
          </div>
       </div>
      </div>
    </div>


    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Rio de Janeiro</h3>
          </div>
          <div class="card-text">
              <p>O Rio de Janeiro é uma grande cidade brasileira à beira-mar, famosa pelas praias de Copacabana e Ipanema, pela estátua de 38 metros de altura do Cristo Redentor.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
        <div class="card-footer">
           <div>
             <h6> Anonymous | December 25, 2022</h6>
           </div>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
        <div class="card-footer">
          <div>
            <h6> Anonymous | December 25, 2022</h6>
          </div>
       </div>
      </div>
    </div>

    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
        <div class="card-footer">
          <div>
            <h6> Anonymous | December 25, 2022</h6>
          </div>
       </div>
      </div>
    </div>


    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
        <div class="card-footer">
          <div>
            <h6> Anonymous | December 25, 2022</h6>
          </div>
       </div>
      </div>
    </div>


    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
        <div class="card-footer">
          <div>
            <h6> Anonymous | December 25, 2022</h6>
          </div>
       </div>
      </div>
    </div>


  </div>

{{>rodape}}