  {{>menu}}
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../images/restaurante-paris.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Conheça Paris</h5>
          <p>A gastronomia francesa é uma das melhores formas de se conhecer a França</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../images/restaurante-paris.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../images/restaurante-paris.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  
  <hr class="my-4">

  <div class="jumbotron">
    <h1 class="display-4 text-center"><s>Brasil</s></h1>
    <p class="lead text-center">Descubra o mundo através de relatos de viagem incríveis</p>
    <hr class="my-4">

  </div>


  <!-- começa da linha-->

  <div class="row">
    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Rio de Janeiro</h3>
          </div>
          <div class="card-text">
              <p>O Rio de Janeiro é uma grande cidade brasileira à beira-mar, famosa pelas praias de Copacabana e Ipanema, pela estátua de 38 metros de altura do Cristo Redentor.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>

    
    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>


  </div>


  <div class="jumbotron">
    <h1 class="display-4 text-center"><s>Internacional</s></h1>
    <p class="lead text-center">Descubra o mundo através de relatos de viagem incríveis</p>
    <hr class="my-4">

  </div>


  <div class="row">
    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Rio de Janeiro</h3>
          </div>
          <div class="card-text">
              <p>O Rio de Janeiro é uma grande cidade brasileira à beira-mar, famosa pelas praias de Copacabana e Ipanema, pela estátua de 38 metros de altura do Cristo Redentor.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>

    
    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>


  </div>

{{>rodape}}