  <hr class="my-4">

  <div class="jumbotron">
    <h1 class="display-4 text-center"><s>Brasil</s></h1>
    <p class="lead text-center">Descubra o mundo através de relatos de viagem incríveis</p>
    <hr class="my-4">

  </div>


  <!-- começa da linha-->

  <div class="row">
    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Rio de Janeiro</h3>
          </div>
          <div class="card-text">
              <p>O Rio de Janeiro é uma grande cidade brasileira à beira-mar, famosa pelas praias de Copacabana e Ipanema, pela estátua de 38 metros de altura do Cristo Redentor.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>

    
    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>


  </div>


  <div class="jumbotron">
    <h1 class="display-4 text-center"><s>Internacional</s></h1>
    <p class="lead text-center">Descubra o mundo através de relatos de viagem incríveis</p>
    <hr class="my-4">

  </div>


  <div class="row">
    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Rio de Janeiro</h3>
          </div>
          <div class="card-text">
              <p>O Rio de Janeiro é uma grande cidade brasileira à beira-mar, famosa pelas praias de Copacabana e Ipanema, pela estátua de 38 metros de altura do Cristo Redentor.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>

    
    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md 6 col-sm-12">
      <div class="card mb-5 shadow-sm">
        <img src="../images/test-img-300x196.jpg" class="img-fluid">
        <div class="card-body">
          <div class="card-title">
            <h3>Museu do Louvre</h3>
          </div>
          <div class="card-text">
              <p>A França desperta no imaginário das pessoas um desejo incrível de conhecer o país, não é à toa que é o país mais visitado do mundo.</p>
          </div>
          <a href="#" class="btn btn-outline-primary rounded-0 float-end">Read more</a>
        </div>
      </div>
    </div>


  </div>

