<section id="about">
		<div class="about-1">
			<h1>SOBRE NÓS</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, excepturi qui. In distinctio accusamus architecto ad, similique fugit sapiente voluptate velit nemo repellendus. Sint, qui voluptatum. Voluptate minus soluta explicabo?</p>
		</div>


		<div id="about-2">
			<div class="content-box-lg">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="about-item text-center">
								<i class="fa fa-book"></i>
								<h3>Missão</h3>
								<hr>
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, aspernatur ut quos modi esse iusto obcaecati expedita iure harum perspiciatis, cumque similique ab nobis corrupti adipisci inventore provident quia maxime.</p>
							</div>
						</div>

						<div class="col-md-4">
							<div class="about-item text-center">
								<i class="fa fa-globe" aria-hidden="true"></i>
								<h3>Visão</h3>
								<hr>
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, aspernatur ut quos modi esse iusto obcaecati expedita iure harum perspiciatis, cumque similique ab nobis corrupti adipisci inventore provident quia maxime.</p>
							</div>
						</div>


						<div class="col-md-4">
							<div class="about-item text-center">
								<i class="fa fa-pencil"></i>
								<h3>Conquistas</h3>
								<hr>
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, aspernatur ut quos modi esse iusto obcaecati expedita iure harum perspiciatis, cumque similique ab nobis corrupti adipisci inventore provident quia maxime.</p>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>

	</section>


	<section id="equipe">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center">NOSSA EQUIPE</h3>
				</div>
			</div>

			<div class="row mb-4">
				<div class="col-md-4 mt-4">
					<img src="../images/monica-benini.jpg" class="img-fluid">
				</div>

				<div class="col-md-8 mt-4">
					<h4 class="lead">Graciana</h4>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure illo fugit perferendis mollitia. Provident officia debitis voluptate eligendi ipsa minima quia! Ipsam corrupti voluptatibus error voluptatem distinctio facere suscipit libero.</p>
					<span><a href="#">Contato</a></span>
				</div>
			</div>


			<div class="row mb-4">
				<div class="col-md-4 mt-4">
					<img src="../images/mark-zuckerberg.jpg" class="img-fluid">
				</div>

				<div class="col-md-8 mt-4">
					<h4 class="lead">Lucas</h4>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure illo fugit perferendis mollitia. Provident officia debitis voluptate eligendi ipsa minima quia! Ipsam corrupti voluptatibus error voluptatem distinctio facere suscipit libero.</p>
					<span><a href="#">Contato</a></span>
				</div>
			</div>

		</div>
	</section>	